body {
    overflow: hidden;
    margin: 0px;
}

#overlay {
    /* display: none; */
    opacity: 0.5;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: rgba(29,136,247,1);
    background-image: url('raster.png');
}

#gradient {
    /* display: none; */
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: radial-gradient(transparent 70%, black 95%, black 100%)
}

.info {
    opacity: .8;
    position: absolute;
    left: 50%;
    top: 75%;
    color: white;
    font-size: 27px;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 10;
    font-family: 'Montserrat', sans-serif;
    /* font-family: 'Roboto', sans-serif; */
    /* font-family: 'Roboto Condensed', sans-serif; */
}

.songName {
    font-size: 42px;
    margin-bottom: 8px;
}
.albumName {
    margin-bottom: 8px;
}
.artistName {
    font-weight: bold;

}